[2019-02-21 20:21] riemers opened #1 "anna -> adam support?"
Hi there fellow leidenaar :)

I bought some plugwise equipment and it works pretty nice. Then noticed there was no component for it :( then i saw your hanna component and i was 'hey this might work'.

Only to find out that adam is a bit different since it allows for more zones (uses toms for radiators, lisa's for thermostat screens and floors for floor heating)

Is there anyway we can incooperate

[2019-02-21 21:40] riemers commented on #1
If you only have 1 lisa, then this already works the same:

[code]

Just change thermostat to zone_thermostat. However this will bork i presume when adding multiple.

As reference, there are more types you can get out of it:

[code]

Noticed you had a ping for a 404 seems it has this one http://192.168.1.38/cache/gateways;ping

[2019-02-23 21:13] riemers commented on #1
![image](https://user-images.githubusercontent.com/682041/53291723-1eb1f500-37b8-11e9-8bf6-8a96ed143bfb.png)

This is from my adam. Only missing is a pulldown to set away/home/etc. Presume you can set that for all too in some way.

[2019-04-02 18:20] frankhommers commented on #1
This would be great to have this with more than one Plugwise Lisa!

[2019-04-24 21:52] laetificat commented on #1
Hello, thank you for your interest in this project. I've been very busy lately so sorry for the late response (the recent activity actually triggered me to check up on this project again).

Implementing multiple devices is something I can take a look at, at least for the lisa's if I can find them.
The ping endpoint is a great tip and I will implement that for sure.

[2019-04-25 05:53] riemers commented on #1
Well since you live in the same city (i presume) i can always help out with the hardware for testing if that would help you out.

[2019-06-11 19:08] riemers commented on #1
No rush yet, but if you have some spare time i can always drop by with an adam and a lisa. I should really go get myself multiple lisas and valves so i can get the data out and see what is different. In all fairness i think that this component might even support then both making the anna name maybe not the right one. But that is the least of the issues. Did see updates on the pypi, all little thin

[2019-06-11 20:32] laetificat commented on #1
@riemers I do not have much spare time now or in the near future, I'll try my best to be more active on this project but life tend to get in the way sometimes.
The API is not set up to handle multiple devices and zones, this plays a huge part in the Adam software. It is possible to refactor the code into supporting the Adam and I think that is the correct way to move this project forward to but it

[2019-06-12 08:25] riemers commented on #1
Agreed, i'll get some devices more for in my house to play around. You could also just add compatech to your repo for the time being since he helped too. In case your too busy, this way we all try to help out. (i got 2 kids, i know how busy stuff can be)

[2019-06-12 22:51] laetificat commented on #1
I added compatech to the repo, thanks for the tip!

[2019-06-23 07:54] CoMPaTech opened #4 "Firmware 1.8 get_presets issue"
the PR from @plamola on the 1.8 firmware seems to point to a non-existing attribute (at least for a user on 1.8.20) - as I don't have that firmware @plamola could you share the XML or look into this?

See https://community.home-assistant.io/t/advice-how-to-load-sensor-info-from-plugwise-anna-thermostat-web-interface-xml/87801/69?u=compatech

[2019-06-29 13:23] #4 closed

[2019-07-28 14:54] CoMPaTech opened #7 "Please update PyPi to 0.10.0"
I probably can do it as well given maintainer/collaboration rights, just let me know.

[2019-07-30 19:37] laetificat commented on #7
I have updated the PyPi repository with the new 0.10.0 version!

[2019-07-30 19:37] #7 closed

[2019-07-30 19:47] CoMPaTech commented on #7
Cool! Major thanks!

[2019-08-02 13:35] CoMPaTech opened #9 "Release 0.10.0 time errors on python 3.6"
Creating commit to solve this (as 0.10.1) for merging and distributing to PyPi

[2019-08-02 13:36] CoMPaTech commented on #9
@laetificat can you please review and update on PyPi?

[2019-08-04 12:17] laetificat commented on #9
It has been merged and released to PyPi.

[2019-08-04 12:17] #9 closed

[2019-08-04 14:15] CoMPaTech commented on #9
Tnx!

[2019-08-04 14:34] CoMPaTech commented on #9
Updated in the HA repo as https://github.com/home-assistant/home-assistant/pull/25693

[2019-08-11 20:24] riemers commented on #1
@CoMPaTech this one is still open, i'll leave it here for the future. My valves are not ok for plugwise floor heating so i first need to get those replaced (some weird dimensions)

[2019-09-09 20:31] CoMPaTech opened #14 "Handle preset finding in XML better"
Modify (and test!) if searching for "a rule that has a `template_id` tag containing `zone_setpoint_and_state_based_on_preset` and has `active` set to `true`" instead of what is currently implemented in haanna.py (lines 62/63):

[code]

As reported in https://github.com/home-assistant/home-assistant/issues/26520

[2019-09-10 19:44] bouwew commented on #14
@CoMPaTech I think we should investigate a bit more before we push this update.
I'm thinking the reported problem is not normal, maybe it is due to a misconfiguration, maybe it can be fixed by a factory reset of the Anna in question?

[2019-09-10 19:51] CoMPaTech commented on #14
Not sure, but finding it by `tag` makes more sence to me (in hindsight) as 'what if' they decide to rename it. A `name` as such is somethings thats changeable/language, that's why I think it makes sense to use the tagfinder instead of name. IIRC thats also the original route @laetificat took.

[2019-09-12 18:01] bouwew commented on #14
I looked at your code-change and noticed the fall-back :)
I still think the Anna in question should be rebooted, or something similar, to see whether that remedies the issue.
What is the firmware version on your Anna? Mine is 3.1.6. Is yours really 3.1.8?

[2019-09-15 14:59] CoMPaTech opened #16 "Please update PyPi asap (0.10.2 and latest (0.11.x at time of writing))"
Hi @laetificat,

As requested earlier in the PRs (#13 & #14), but please update PyPi. I've merged the PRs now to keep things going, but we really do need you to update PyPi.

 If you have less time available I'd suggest you add @bouwew as author and at least myself to PyPi to be able to update (sam username). Otherwise, just indicate and we'll unfortunately have to create another module on PyPi.

[2019-09-15 15:07] bouwew commented on #16
Hi Tom,

Please change the version to 0.11.0 instead of 0.11.9.

I ended up at 0.11.9 due to my way of testing each update individually. No
need to copy this version-number along with the official update.

Mvg, Bouwe

On Sun, 15 Sep 2019, 16:59 Tom, <notifications@github.com> wrote:

[2019-09-15 15:11] CoMPaTech commented on #16
Done - it also was at 0.10.2 due to the different merges, but it's 11.0 now

[2019-09-15 15:18] bouwew commented on #16
Thanks! I quickly loaded the 0.11.0 version via my plugwise-dev custom_component, all working as far as I can see/test.

[2019-09-15 16:04] CoMPaTech commented on #16
Cool!
Waiting for @laetificat than!

[2019-09-18 06:55] laetificat commented on #16
Hello @CoMPaTech, Unfortunately I'm not able to update the PyPi repo right now. I will update it this evening and at the same time add you and @bouwew as authors.

[2019-09-18 07:00] CoMPaTech commented on #16
Tnx!

[2019-09-18 22:02] laetificat commented on #16
I have updated PyPi and this repository to include release 0.11.0, I also added @CoMPaTech as a maintainer for the PyPi repo.

@bouwew You can give me your PyPi username if you want to be a maintainer too.

[2019-09-18 22:02] #16 closed

[2019-09-30 07:46] bouwew commented on #14
Let's close this issue, it's fixed I think?

[2019-09-30 08:09] bouwew opened #18 "Get_active_schema_names: no solution implemented for legacy Anna"
Input is needed from a legacy Anna owner.

[2019-09-30 17:36] bouwew commented on #18
I received some info from plamola. He states he can only create one single week-schedule.
So, there is a schedule or no schedule.

[2019-10-01 17:59] AussiSG opened #19 "Additional sensor info from Anna/plugwise"
Missing the extra info which could be read out from Anna/plugwise.

Regarding:
Actual Boiler temperature.
Actual flux rating measured by thermostat.
Actual pressure in system.

The needed to pull info is posted on following page.
https://community.home-assistant.io/t/advice-how-to-load-sensor-info-from-plugwise-anna-thermostat-web-interface-xml/87801?page=6

[2019-10-05 06:48] bouwew commented on #19
I've updated haanna to include getting the three requested values.

I quickly added getting the values to my private code:
![image](https://user-images.githubusercontent.com/11290930/66251118-ba431500-e74c-11e9-8ccf-4e91a260a600.png)
Looks like it's working.

How to make sensors out of these values is another matter, I could use some guidance on this topic :)

[2019-10-06 08:19] bouwew commented on #19
Implemented and released to Pypi.

[2019-10-06 09:56] AussiSG commented on #19
Thank you will check them later this week :D
Don't think it will be possible to really use the info to trigger your boiler/CV because Anna is already trying to do that.

I more use it to check if pressure is below 1,8 Bar and use illumination info to switch some lighting

[2019-10-06 12:45] bouwew commented on #19
You're welcome.
Yes, please do no test the changes today, we're still fixing some other bugs.

[2019-10-10 16:49] bouwew commented on #19
On Pypi, haanna is updated to version 0.12.3, the requested changes have been implemented in this version.

[2019-10-10 20:16] AussiSG commented on #19
Hi Bouwew,
Thanks for the update. I am running the plugwise component on Home automation ( raspberry pi ).
I have tried adding you extra line of codes in the climate.py ( looks similar to your haanna) but it doesn't seem to do the trick.
Am I doing it wrong.
Kind of a python newbie ;-)

[2019-10-10 20:19] bouwew commented on #19
Just replace all the code in haanna.py and climate.py files. You can get the clean code via the Raw- button.

[2019-10-10 20:22] AussiSG commented on #19
Should I be having both the haanna.py and the climate.py files in the custom_component folder? Thought only one should do that trick?
Sorry for asking ( so much )

[2019-10-10 20:27] bouwew commented on #19
First you will need to update haanna, this can be done by changing the number in manifest.json. to 0.12.3. Then update the contents of climate.py with the code in the anna-ha repository.

[2019-10-10 20:33] AussiSG commented on #19
Thank you ! Clear thing will give it a go tomorrow.
Will let you know.

[2019-10-11 05:57] bouwew commented on #19
Some quick advice: install the Visual Studio Code add-on from the ADD-ON STORE.
With this editor it is very easy to edit your HA files.

And here you can find the clean code to put in the climate.py file: https://raw.githubusercontent.com/laetificat/anna-ha/master/custom_components/plugwise_dev/climate.py

Just copy and paste it after deleting to existing code.
Or, if you want to play it safe, mak

[2019-10-11 20:10] AussiSG commented on #19
Have updated the climate.py code with the code you linked above.
And also changed the number inside the .json file as followed:

[code]

but when I look in the develepment tools -> states part.
I dont see the extra information. Do I need to trigger something else.
Also did a restart of HASS after changing the code ;-)

[2019-10-11 20:28] bouwew commented on #19
That's strange, it works for me and CoMPaTech.
Try reloading the States page.
What type of HA installation are you using? Can you check in some way if haanna was updated to the required version?

[2019-10-11 20:28] bouwew commented on #19
Also, any information in the Development Tools - Log?

[2019-10-11 20:30] CoMPaTech commented on #19
Not sure, but make sure you only load the dev plugwise and not (also) the actual one that is inside HA
If you do that I think that will override back to the earlier haanna

[2019-10-12 06:54] AussiSG commented on #19
The only entry I can find in the log is:

2019-10-12 08:46:26 INFO (SyncWorker_16) [homeassistant.loader] Loaded plugwise from homeassistant.components.plugwise
2019-10-12 08:46:30 INFO (MainThread) [homeassistant.components.climate] Setting up climate.

I have added the following code in the config file to enable the logging but it feels wrong because of not getting any hehe

climate.plugwise: de

[2019-10-12 07:00] bouwew commented on #19
I guess you have configured the Plugwise component that is a part of HA.
You can disable that one and enable the Plugwise_dev component by making a change in `configuration.yaml`:
Change
[code]
To
[code]
And then restart HA.

[2019-10-12 07:03] bouwew commented on #19
Also, you directory must be named: .../custom_components/plugwise_dev

[2019-10-12 10:19] AussiSG commented on #19
Alright have made another step forward.... :D
Now get the following warning

 2019-10-12 12:15:46 WARNING (MainThread) [homeassistant.loader] You are using a custom integration for plugwise_dev which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you do experience issues with Home Assistant.

But sadly enough I dont see the extra info

[2019-10-12 11:17] bouwew commented on #19
The warning is normal, so you are indeed making progress.

Can you post an image of what is shown on the States-page?
On Windows press Shift-PrintSc, open Paint, Crtl-V, then select the part of the screen you want to show here, Ctrl-C, etc.

[2019-10-12 11:19] bouwew commented on #19
Also, you have one climate.plugwise_dev entity in the States-list? And no climate.plugwise anymore?

[2019-10-12 11:24] AussiSG commented on #19
Yeah only got the DEV plugwise as an entity.

![image](https://user-images.githubusercontent.com/56043947/66700674-8ee39b80-ecf3-11e9-81ec-56a90dbf7192.png)

[2019-10-12 11:24] AussiSG commented on #19
Yeah only have the DEV one as entity.

![image](https://user-images.githubusercontent.com/56043947/66700684-aae73d00-ecf3-11e9-826e-12f305ba7605.png)

[2019-10-12 11:34] bouwew commented on #19
Ok, looks like there's more missing, what is the firmware-version of your Anna?

[2019-10-12 11:37] AussiSG commented on #19
Its running on firmware version 1.8.20

[2019-10-12 11:45] bouwew commented on #19
Ah, Ok, that's why. I'm running on 3.1.7 and the additions are written and tested for the 3.x firmware.
But, I'm happy to try and get it to work for your version.
Can you send me a complete capture of the Anna-xml-data?
Please browse to `"your-anna-ip"/core/domain_objects`, click with your mouse-cursor in the text that is shown, press Crtl-a, Ctrl-c and then paste (Ctrl-v) the data for instance in

[2019-10-12 11:51] AussiSG commented on #19
Ah serious. I have read some stuff about that on the HA forum.... :(
Firmware version is  from 2017-03-13 and HW version = 6539-1302-5002.

hope it worked. This is the link:
https://pastebin.com/510RVMTN

[2019-10-12 12:05] bouwew commented on #19
Great, thanks!

Please change the requirements-line in `manifest.json` from this: `"haanna==0.12.3"` to this: `"https://github.com/bouwew/haanna/archive/master.zip#haanna==0.12.4"`

Then restart HA and let me know whether the 3 new parameters are being shown.

[2019-10-12 12:25] AussiSG commented on #19
Wauw quick progress! seems to have done the trick

![image](https://user-images.githubusercontent.com/56043947/66701382-31a01800-ecfc-11e9-846a-bc774ebadb2e.png)

[2019-10-12 12:27] bouwew commented on #19
Great!

I see some other stuff that is not working, let me make some more changes...

[2019-10-12 12:38] bouwew commented on #19
Ok, ready.
Please change in the requirements-line in manifest.json this: `0.12.4` to `0.12.5`. Change only the number, leave the rest as is.

Then restart HA and show me the result :)

[2019-10-12 13:19] bouwew commented on #19
Some more fixes, please change the number to `0.12.7`, restart HA and share the result, please.

[2019-10-12 13:28] AussiSG commented on #19
Hereby the results:
![image](https://user-images.githubusercontent.com/56043947/66702160-e3434700-ed04-11e9-8208-772daae2c591.png)

Dont know if I see any differences ;-)

[2019-10-12 13:35] bouwew commented on #19
I do!
Much more is working now: I can see you are running in auto-mode(= schedule is active), the available havc_modes are shown, I can see that you are tapping hot water (dhw), the available preset_modes are now correctly shown.

The only thing left to fix is the schema-stuff. I know from another legacy Anna user that you can have only one schema(=schedule). I can create several schedules and can

[2019-10-12 13:40] AussiSG commented on #19
Ahaa nice to know. Didnt know there was a newer version avaible of the anna.  ( or the gateway )
Do you know how you can tell the difference between a newier or oldier version?

Thats why your firmware is quite higher

Indeed I can only have one time schedule for the whole week.
I do have different modes ( Vacation mode , sleep mode , etc )

[2019-10-12 13:41] bouwew commented on #19
Are you using the climate card?
![image](https://user-images.githubusercontent.com/11290930/66702293-4bdef380-ed06-11e9-9150-c1a11b10f619.png)

Can you please test some more?
Turn off the automation by clicking on the flame icon? Does that work?
Can you turn the automation back on by clicking the schedule icon?
Can you active a preset?
Can you manually change temperature?
Please note, wait a littl

[2019-10-12 13:43] bouwew commented on #19
I don't think you can see any difference in the hardwares. But the difference in firmware-version makes it clear

[2019-10-12 13:48] bouwew commented on #19
In your attribute-list the presets are shown correctly via `preset_mode` but they show up again at `available_schemas`. And in my attribute-list there is an extra key: `selected_schema`, I will try to make that work also for your Anna.

[2019-10-12 13:48] AussiSG commented on #19
Strangest thing is that when I try to update it states that it is up to date. So there much be some difference somewhere hehe.

Might be that plugwise has released a newer version. Of which year is your hardware version if you check it on your smile gateway site.

Currently I am at my parents house so can't check your question but will try tomorrow

[2019-10-12 14:01] bouwew commented on #19
That's not strange, your hardware probably can't run the new firmware.
Or maybe it can but there is a commercial reason then :)

Ok, no problem, looking forward to hear whether the control-functions work for you .

[2019-10-12 14:30] bouwew commented on #19
One more question: the single weekschedule that is available on your Anna, does it have a fixed name or can you rename it? Or delete it and create a new one with a different name?

[2019-10-12 14:55] bouwew commented on #19
Never mind my last question, please update the version number to `0.12.8`, restart HA and let me know the result.
I think I have fixed the detection of the schedule.

[2019-10-12 15:57] bouwew commented on #19
Please update the version number to `0.12.9`, restart HA and show me the state.
You should no longer see `available schema's` but there should be a `selected schema` key instead.
And the schedule-name should be shown on the climate-card.

[2019-10-12 18:03] AussiSG commented on #19
Had some time to check the climate card.
in version 0.12.9 it looks as followed
![image](https://user-images.githubusercontent.com/56043947/66705767-56f84a80-ed2b-11e9-8e67-16ea37e47de2.png)
and I get the following message when I press the scheme button.
![image](https://user-images.githubusercontent.com/56043947/66705779-6bd4de00-ed2b-11e9-8706-636d0c309eb4.png)

[2019-10-12 18:05] AussiSG commented on #19
The Entity looks as followed now
![image](https://user-images.githubusercontent.com/56043947/66705793-99218c00-ed2b-11e9-9a77-278169a4af7b.png)

[2019-10-12 18:06] AussiSG commented on #19
Also the HVAC action nows says DHW. But the system is inactive at the moment. No hot water or usage of warm water for heating

[2019-10-12 18:14] bouwew commented on #19
Hmm, that didn't work, I'll have a look.

[2019-10-12 18:24] bouwew commented on #19
Please put version number `0.12.10` in manifest,json, restart HA and let me know the state-result.

Now I will look into the dhw issue.

[2019-10-12 18:27] AussiSG commented on #19
Alright gonna give it a go in a minute.

PS thank you already for the much effort. And don't forget it's Saturday eve right ;-)

[2019-10-12 18:34] bouwew commented on #19
Not sure why dhw is always on, could be a bug. I will switch it to always off for legacy Anna.
I will do that tomorrow, when you have shared the results of 0.12.10.
Enjoy your saturday-evening :)

[2019-10-12 20:31] AussiSG commented on #19
Seems that the update gives the following error :D

[code]

[2019-10-13 06:25] bouwew commented on #19
Goedemorgen, please try `0.12.12`.
I've fixed the error, disabled detection of dhw for legay and fixed a typo that causes showing all the presets on the climate-card.

A question: when you are tapping hot water, is a tap-icon shown on the screen of your Anna?
Please note, it will take up to a minute until the icon shows up on the screen after you start the tapping of hot water.
When the icon is th

[2019-10-13 06:47] bouwew commented on #19
One more improvement, please test `0.12.13`.

[2019-10-13 07:02] AussiSG commented on #19
Goedemorgen,

Correct I see a little flame icon and also a tapping icon when tapping hot water
here is the xml data when tapping hot water

https://pastebin.com/4cWC4FnA

[2019-10-13 07:03] AussiSG commented on #19
That was during the usage of V.12 btw ;)

[2019-10-13 07:06] bouwew commented on #19
Thanks! I'll take a look to see whether I can make dhw work for legacy Anna.

Can you show me the state? How do the attributes look now after updating to .12 / .13?

[2019-10-13 07:12] AussiSG commented on #19
climate card looks as followed :
![image](https://user-images.githubusercontent.com/56043947/66712206-6c0bc280-ed99-11e9-9682-b1667a2ed3e0.png)

entity info:
![image](https://user-images.githubusercontent.com/56043947/66712221-a2e1d880-ed99-11e9-87b1-be7edd8ee02a.png)

[2019-10-13 07:15] bouwew commented on #19
Ok, I checked, there is no difference in the xml w.r.t. domestic_hot_water_state.
So, the info is not in this xml.

Very good, now we are getting somewhere!
Still, I want to remove the ['...'] from the schedule name.

[2019-10-13 07:53] bouwew commented on #19
Please test `0.12.14`.
Now the selected schema name should be without ['...'].

[2019-10-13 08:43] bouwew commented on #19
Can you capture the xml-data from `"your-anna-ip"/core/appliances`?

[2019-10-13 08:53] AussiSG commented on #19
Sure thing:
https://pastebin.com/6jqxk1Cm

climate card:
![image](https://user-images.githubusercontent.com/56043947/66713131-fb6ba280-eda6-11e9-82a0-81e3b1b4f0ac.png)

looks like pressing the scheme button doenst work. I thnk I could toggle it on/off when running the plugwise from inside HA

entity info:
![image](https://user-images.githubusercontent.com/56043947/66713195-bdbb4980-eda7-11e9-944d-

[2019-10-13 09:00] bouwew commented on #19
Great, thanks. You were not tapping hot water when capturing the xml-data? Or were you.

[2019-10-13 09:04] bouwew commented on #19
On pressing the scheme button when the scheme is active, that doesn't work. You have to click the flame icon or activate a preset via the 3-dots pull-down to turn the scheme off.
This is normal behaviour as far as I know. But it could be that this is because of my programming :)

And the attributes now look as they should, nice!

[2019-10-13 09:27] AussiSG commented on #19
Correct wasnt using any hot water or something.

Understood. When I changed back from the flame to the scheme. I get the following error:
![image](https://user-images.githubusercontent.com/56043947/66713532-53f16e80-edac-11e9-90ae-d010ae97263d.png)

![image](https://user-images.githubusercontent.com/56043947/66713542-5f449a00-edac-11e9-87ee-e0683886441f.png)

[2019-10-13 09:46] bouwew commented on #19
Ok, then I think I cannot make detection of dhw work on the legacy Anna.

W.r.t. the error, I'll have a look.
Did that work before? Do you remember at which version it still worked?

[2019-10-13 09:49] bouwew commented on #19
Can you shown what's in Developer Tools - Logs? Please press: Load full Home Assistant log.
Maybe there's more info on the error to be found.

[2019-10-13 10:15] bouwew commented on #19
Never mind, please try `0.12.15`.
That should fix the reported error.

But, there will still be an error when you unselect the schedule in the Plugwise App.
Or, can't you unselect the schedule in the App?

[2019-10-13 10:21] AussiSG commented on #19
`Log Details (ERROR)
Sun Oct 13 2019 11:56:18 GMT+0200 (Midden-Europese zomertijd)
local variable 'template_id' referenced before assignment
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/components/websocket_api/commands.py", line 130, in handle_call_service
    connection.context(msg),
  File "/usr/src/homeassistant/homeassistant/core.py", line 1234, in async_cal

[2019-10-13 10:22] AussiSG commented on #19
This was on 12.14 version  btw

[2019-10-13 10:33] bouwew commented on #19
Is it working on 12.15?

[2019-10-13 10:38] AussiSG commented on #19
Yea I can nouw toggle between the flame and the schedule.
Great! My wife sometimes messes with the thermostat not know where to touch the top side :D
Now I can correct it again ;)

[2019-10-13 10:43] bouwew commented on #19
Ok, that confirms what I thought was wrong.

Then I'm done for now :)
Next step: roll all the changes out to HA, this might take a while...

Enjoy the plugwise_dev custom_component for now.
If your want, you can update the code in climate.py, I have made a small improvement, see my github - anna-ha. Or you can wait for the release into HA.

[2019-10-13 10:52] CoMPaTech commented on #19
You guys are on fire, nice progress!

[2019-10-13 11:07] AussiSG commented on #19
Thank you very much for all the effort !  ( For adding only some extra sensor info ;-) ;-) haha )

[2019-10-13 11:57] bouwew commented on #19
@AussiSG
And thank you for providing xml-data and helping test the updates!
It finally gave us the chance in getting things to work on the legacy Anna.

Can you please close this issue?

[2019-10-13 12:29] AussiSG commented on #19
No problem. If any more info is need just give a shout.

Sure thing!

[2019-10-13 12:30] #19 closed

[2019-10-14 09:57] bouwew commented on #18
Implemented in #25.

[2019-10-14 09:57] #18 closed

[2019-10-14 10:08] bouwew commented on #14
I was thinking when looking at this issue again, the problem is, when there is no name for the schedule(s), as in w2ckers-case, other stuff will not work. We might have fixed this particular error but there will be other errors.

[2019-10-14 14:52] riemers commented on #1
Took longer then expected, but i now have a lisa/adam/floor and a tom. So i think pretty much the whole stack sort of speak. @CoMPaTech i know you would want to take a look at it, is there any data specific you want? Outputs of certain things? Always good to have.

[2019-10-15 10:06] AussiSG commented on #19
![image](https://user-images.githubusercontent.com/56043947/66821863-779aed00-ef43-11e9-8435-c715cc2a7ab9.png)

Thanks again for the extra info :D

[2019-10-15 10:33] ghost commented on #1
I installed Adam, Lisa and a Tom last weekend and would love to have the thermostat in HA! I'll also be glad to help with testing and supplying information, and if I can find time will look into help in development of the plugin. I don't really have experience with Python yet, but it might be a good way to learn something about it :)

[2019-10-16 13:06] bouwew commented on #19
@AussiSG please have a look at this card: https://community.home-assistant.io/t/lovelace-simple-thermostat-card/82659
The latest version works very well with my latest version on my github, also you can add additional sensors into the card. And the presets are shown as buttons on the card.

[2019-10-19 14:41] bouwew commented on #19
@AussiSG
Are you willing to test something for me?

I'm thinking of removing the automatic detection of the legacy Anna and turning it into a configurable parameter in configuration.yaml. That would solve the problem that another legacy user  has.
I have the code working in my non-legacy system. I would appreciate it if you could try out the code in you legacy_anna system. Looking forward hearing

[2019-10-20 18:47] AussiSG commented on #19
Hi Bouwew ,

Sure thing. What do you want me to do / test?

Do I need to load an new version of your scripts?

[2019-10-20 20:41] bouwew commented on #19
Yes please.

Please replace the contents of your existing `climate.py` and `manifest.json` files with the contents of the files from here: https://github.com/bouwew/anna-ha-test/tree/master/custom_components/plugwise_dev

Also please add one line to `configuration.yaml`, the line with legacy_anna:
[code]
legacy_anna means an Anna device with firmware 1.8.x, as you have.

After applying all these c

[2019-10-21 18:51] AussiSG commented on #19
`
Ontwikkelhulpmiddelen
Update for climate.plugwise_development_thermostat fails
20:48 custom_components/plugwise_dev/climate.py (ERROR) - message first occured at 6:22 and shows up 853 times
Updating device list from legacy took longer than the scheduled scan interval 0:00:10
20:47 components/device_tracker/setup.py (WARNING) - message first occured at 6:21 and shows up 2268 times
Invalid config

[2019-10-21 18:54] AussiSG commented on #19
It seems it aint looking to the custom version of plugwise_dev right?

[2019-10-21 18:56] bouwew commented on #19
Can you show me your climate-entry in configuration.yaml?

[2019-10-21 18:58] AussiSG commented on #19
Sure thing:

![image](https://user-images.githubusercontent.com/56043947/67234484-8a328c00-f445-11e9-9a44-995a48ebfff6.png)

[2019-10-21 18:59] bouwew commented on #19
That's not what I mean. I mean the part in configuration.yaml that starts with:
[code]

[2019-10-21 19:03] AussiSG commented on #19
Oeps sorry.....
Should ready more carefull.....

![image](https://user-images.githubusercontent.com/56043947/67234849-2ceb0a80-f446-11e9-94cd-05539335d77f.png)

[2019-10-21 19:05] bouwew commented on #19
That looks good.

Does your climate.py file contain this text?
[code]

[2019-10-21 19:07] AussiSG commented on #19
Yeah looks like it:
![image](https://user-images.githubusercontent.com/56043947/67235130-c7e3e480-f446-11e9-9e92-4f525a4b797f.png)

Should give a full reboot maybe ? Only did a restart HASS?

[2019-10-21 19:08] bouwew commented on #19
Yes please, perform a full reboot, that is the next thing to try.

[2019-10-21 19:11] bouwew commented on #19
I think you HA restart did not happen because of the new line (legacy_anna: true) that was added.
The old code is still in memory and then the check that is performed before the restart fails, thus the error.

[2019-10-21 19:15] CoMPaTech commented on #19
Weird, that `line 197, in get_rule_id_by_template_tag` looks like it can't find the XML part for `get_active_schema_name`. That would mean that for some reason "zone_preset_based_on_time_and_presence_with_override" can't be found in the XML (if reverse engineering it right). Please verify (before or after full reboot) if `http://10.x.x.x/core/domain_objects` has that string in it (`zone_preset_bas

[2019-10-21 19:15] CoMPaTech commented on #19
also - should we reopen the closed issue? :)

[2019-10-21 19:16] bouwew commented on #19
No, I think it is because it is executing the non-legacy code instead of the legacy-code.
In the legacy Anna XML there is no zone_preset_...

[2019-10-21 19:19] AussiSG commented on #19
Good thinking! That must have happend. its rebooting at the moment.

Look promising:
![image](https://user-images.githubusercontent.com/56043947/67235901-59a02180-f448-11e9-8b7e-9b84cc8402d4.png)

Also tested to switch from schedule and heating mode and is still functional

[2019-10-21 19:20] bouwew commented on #19
That looks good!
Can you please activate a preset? If that works also, then everything is working properly.

[2019-10-21 19:27] AussiSG commented on #19
Yeah that seems to be working also ! very nice job !!! Flawless

[2019-10-21 19:32] bouwew commented on #19
Great, thanks for checking and confirming that it works :)
That means that the HA issue #26520 is now finally solved without breaking anything for legacy Anna.

@CoMPaTech, can you please pull in both my pull-requests and release haanna 0.13.5 to Pypi?

[2019-10-21 19:39] CoMPaTech commented on #19
@bouwew merged and uploaded

[2019-10-22 08:12] bouwew commented on #19
@AussiSG
I will delete my repositories now.
I suggest you make a change in your `manifest.json` file. Change
`"requirements": ["https://github.com/bouwew/haanna_test/archive/master.zip#haanna==0.13.3"]`
to `"requirements": ["haanna==0.13.5"]`

[2019-10-22 16:07] bouwew commented on #14
@CoMPaTech
I think this Issue can be closed. I mean, w2cker tested my new code. The weekschedule that he has created is properly detected. And there were no errors in his log. I'd say your fixes are working!

[2019-11-11 23:35] frankhommers commented on #1
Yeah, I also have Adam HA in production for quite a while now. It manages multiple zones. Only thing I am missing is nice Home Assistant integration ;-)

[2019-11-12 07:01] CoMPaTech commented on #1
Is there any XML exposed like our Smile's (the boiler device behind Anna) have? i.e. `192.168.x.y/core/domain_objects` and accompanying `/core/rules` `/core/appliances' and maybe something like `/#zones/...`

The way we control Anna, from @laetificat 's findings is by reading the XML and posting accordingly what change we need from inspecting what the browser interfaces. I.e. reading is just inter

[2019-11-16 16:50] bouwew commented on #19
@AussiSG,
Plugwise will be updated in HA 0.102.
Unfortunately, I had to take out the illuminance sensor-value and the domestic-hot-water indication.
If you want to keep the illumination-value, better stay on the Plugwise Development version :)
I will try to find another way to add these two items later.

[2019-11-21 16:35] fwestenberg commented on #14
Totday I updated HA to version 0.102.0. I get the following error now in the log: "File "/usr/local/lib/python3.7/site-packages/haanna/haanna.py", line 197, in get_rule_id_by_template_tag
    rule.find("template").attrib["tag"]
KeyError: 'tag'". Anna integration not working anymore. :-(

[2019-11-21 18:43] bouwew commented on #14
Please let us know the firmware-version of your Anna, and please post the contents of
`http://[you smile ip]/core/domain_objects` on pastebin.com.
This will help us to find what is causing the issue.

[2019-11-21 20:19] fwestenberg commented on #14
Domain Objects here: https://pastebin.com/pduQDyz6

Firmware version is 1.8.20.

[2019-11-21 20:21] CoMPaTech commented on #14
I think you have to add the legacy statements then ... see https://www.home-assistant.io/blog/2019/11/20/release-102/#read-more on breaking changes. See https://www.home-assistant.io/integrations/plugwise/ on setting `legacy_anna`

[2019-11-21 20:33] fwestenberg commented on #14
After changing this, I got a new error:

File "/usr/local/lib/python3.7/site-packages/haanna/haanna.py", line 373, in get_schedule_temperature
    return float(measurement)
TypeError: float() argument must be a string or a number, not 'NoneType'

Any change I can update to a higher version?

[2019-11-22 07:50] bouwew commented on #14
I looked at the various codes, I can't find anything obviously wrong at the moment.
But, I added detection for the reported fault. This specific fault should be gone.
Can you please test the updated haanna-code for me? Let's see where that leads us.

Replace in the file /homeassistant/components/plugwise/manifest.json on your system:
`"requirements": ["haanna==0.13.5"]`
by
`"requirements": ["https

[2019-11-22 13:08] fwestenberg commented on #14
I created it as custom component (I'm on Hass.io) but with this change it's working again. But... setpoint and presets have disappeared.

[2019-11-22 13:19] bouwew commented on #14
Can you reproduce the fault in the custom component with haanna 0.13.5?

I'm at a bit of a loss, it's working fine in my system (3.1.7) and it's working on someone else's legacy Anna. I've compared your XML-data to this persons XML-data, basically they are the same. So I don't understand why it's not working for you. The value is present in your XML but somehow the Haanna-code doesn't find it, ver

[2019-11-22 13:24] fwestenberg commented on #14
What do you mean with "reproduce the fault in the custom component with haanna 0.13.5"?
And to make it even better: I have two Anna's (also one upstairs). Both ain't working well.

[2019-11-22 13:42] bouwew commented on #14
You have created a Plugwise custom component, correct? And you've made the change in the file manifest.json as I asked? Now I'm asking you to revert the change you made to this file and try again.
Does this result in the same error?

You write you have two Anna's, do you have these both "connected" to Home Assistant? How? Via 2 separate climate instances in HA? You must have 2 Smiles then?

[2019-11-22 14:01] bouwew commented on #14
Can you show me how your Anna climate device(s) looks like in Developer Tools --> States?

[2019-11-22 14:02] bouwew commented on #14
Mine looks like this:
![image](https://user-images.githubusercontent.com/11290930/69432010-213a7e80-0d39-11ea-845a-aacbdb3b81ab.png)

[2019-11-22 15:18] fwestenberg commented on #14
I have this:
![image](https://user-images.githubusercontent.com/47930023/69437419-914e0200-0d43-11ea-983b-3c2efe1f8a94.png)

[2019-11-22 15:45] bouwew commented on #14
I think I have found what is causing the error. Not sure how to solve it yet.
And I see you have more issues: state and hvac_modes also don't work.

I will not be available for the coming 2-3 weeks, I'm moving to a different city, 2 hrs drive away.
I will let @CoMPaTechknow what I have found, maybe he has time to fix the reported error.

[2019-11-23 09:23] bouwew commented on #14
I could not let this go yet :)

I have made a haanna-simulator in which I imported the XML-data that you put on Pastebin.
In the simulator, the `schedule_temperature` is found correctly, there is no error.

So, I think there is something wrong with your HA-system, maybe the haanna-version on your system is outdated, or something went wrong with the 0.102 update.

After updating your HA-system, you

[2019-11-24 07:41] bouwew commented on #14
@fwestenberg, another user reported the same problem as you have found.
According to his information the fault happens when there is a week-schedule present but it's not activated. The fault disappears when the week-schedule is activated.
Is your situation the same? Do you have a week-schedule present but it's not activated?

[2019-11-24 07:44] fwestenberg commented on #14
My week-schedule is empty. I deleted it because I don't need it. I will create one and see if this solves the problem.

[2019-11-24 07:49] bouwew commented on #14
Can you first create another XML-dump? That might help us to find a solution.

[2019-11-24 07:52] fwestenberg commented on #14
![IMG_20191124_085011](https://user-images.githubusercontent.com/47930023/69491603-adfb4e80-0e97-11ea-9022-d49c9e9f7b4c.jpg)
![IMG_20191124_084953](https://user-images.githubusercontent.com/47930023/69491604-adfb4e80-0e97-11ea-915b-5e5750158b76.jpg)
![IMG_20191124_084934](https://user-images.githubusercontent.com/47930023/69491605-ae93e500-0e97-11ea-922d-811b0ae3b070.jpg)

[2019-11-24 08:00] bouwew commented on #14
It looks like it's all working as it should?

[2019-11-24 08:06] fwestenberg commented on #14
But where is the setpoint adjustment?

[2019-11-24 08:08] fwestenberg commented on #14
![IMG_20191124_090816](https://user-images.githubusercontent.com/47930023/69491777-f87dca80-0e99-11ea-922f-ac2210a4fae9.jpg)

But seems you are right. This card works well, also setpoint adjustment.

[2019-11-24 08:09] bouwew commented on #14
Where are these pictures from?

Can you please check in Developer Tools --> States? It should be there.

[2019-11-24 10:50] bouwew commented on #14
@fwestenberg, can you please copy the files `climate.py` and `manifest.json` from here:
https://github.com/bouwew/anna-ha to your Plugwise custom_component?

I've tried to fix the issues related to not having a week-schedule.
Please test this with and without a week-schedule being defined (please make sure to delete the schedule).

[2019-11-24 18:36] fwestenberg commented on #14
@bouwew Thanks for all your effort. I created a git repository with the files I used for testing with custom component. https://github.com/fwestenberg/plugwise_dev

The pictures I sent are from the Home Assistant dashboard. But when I check the Anna data now, I see the following:
![image](https://user-images.githubusercontent.com/47930023/69499318-03177e80-0ef1-11ea-8373-295f2b9dd661.png)

The the

[2019-11-24 18:54] fwestenberg commented on #14
I just found out you also have a custom_component repository for Anna. https://github.com/bouwew/anna-ha
Are you sure the requirements in the manifest.json gets installed for the custom component?

[2019-11-24 18:54] bouwew commented on #14
Ok, the github helps. You don't need to copy the haanna-files, they will be automatically installed by Home Assistant. I see you did copy the climate.py file from my github.
Also, you need to copy (the contents of) the manifest.json file from my github. And then restart HA.
Then it should work, I hope.

[2019-11-24 18:57] bouwew commented on #14
Yes, I'm sure, I have been using this method for quite some time now. It's also described in the HA documentation somewhere.

[2019-11-24 19:24] fwestenberg commented on #14
Exactly the same result with your library, but I discovered something interesting... For some reason my two thermostats always got the same values, And when the thermostat with schedule gets loaded (seems random) the setpoint is there. But when the thermostat without schedule gets loaded, no preset is possible.
So adding a schedule solves the problem, but the main problem to me is how to handle tw

[2019-11-25 07:05] bouwew commented on #14
How does you configuration look like?
You have 2 Anna's each connected to its own Smile? Or are the both connected to the same Smile?
And you have 2 config-entries in configuration.yaml?

Ok, time to get ready for the movers, I'm going off-line soon...

[2019-11-25 08:33] fwestenberg commented on #14
I have 2 Anna's with 2 Smile's. And also 2 config entries. But I just found out the statics in haanna.py are what causes the trouble. :) Please check out my pull request #28.

[2019-11-28 11:30] Mariusthvdb opened #29 "HA interface not not showing the selected preset state"
following a discussion on https://community.home-assistant.io/t/advice-how-to-load-sensor-info-from-plugwise-anna-thermostat-web-interface-xml/87801/132?u=mariusthvdb please let me create this issue for the HA interface not showing the selected preset state.

Not sure how to post more than in the dicsussion, but bottom line is the HA app can endup in a manual override situation (as described in th

[2019-11-28 12:09] bouwew commented on #14
@fwestenberg
What do your climate entries look like when you have loaded your improved haanna-code?

[2019-11-28 18:39] fwestenberg commented on #14
![image](https://user-images.githubusercontent.com/47930023/69827192-995fe300-1216-11ea-8c72-fded98d372c6.png)

As you can see, the values are supplied correctly and different for each thermostat.

[2019-12-01 16:43] XMaarten commented on #1
@CoMPaTech I have a Adam as well, and I attached a couple of XML files for you. My living room uses a floor radiator valve, with a separate zone thermostat because the valve itself is in a different room, and three rooms with conventional radiators.

Below the XML files:
[rules.txt](https://github.com/laetificat/haanna/files/3908440/rules.txt)
[appliances.txt](https://github.com/laetificat/haanna/

[2019-12-01 16:47] XMaarten commented on #1
A single thermostat used to work in a previous version of HomeAssistant, but since the 0.102 update this fails with the following error:
[code]

[2020-01-07 14:33] bouwew commented on #29
A similar issue? https://github.com/laetificat/anna-ha/issues/29

[2020-01-07 15:32] bouwew commented on #14
@fwestenberg can you please upload a new capture of the XML of your upstairs Anna?

[2020-01-07 22:26] fwestenberg commented on #14
The thermostat without schedule (upstairs): https://pastebin.com/DZfQeiB4
The thermostat with schedule (downstairs): https://pastebin.com/fYn2BVpL

Also, I created pull request #28. Any idea when this will be merged?

[2020-01-08 10:58] bouwew commented on #14
Thanks! I'll have a look later.
To what kind of heating system is your upstairs Anna connected?

Also, I've included your pull request in my haanna testing repository, working fine in my HA system.

[2020-01-08 16:31] bouwew commented on #14
@fwestenberg can you please upload an xml-capture of the overloop-Anna when the heating is on/active?
I looked at both XML-captures, the one of downstairs has the `central_heating_state` key that the software is looking for, but that key is not present in the XML-capture of the upstairs-Anna. This causes `hvac_modes` to be `null`-state in HA.
I think this also is related to the connected heating d

[2020-01-08 16:46] bouwew commented on #14
I wonder if maybe the key is shown in another location?
Can you please provide XML-captures of the following four locations:
http://[your smile ip]/core/domain_objects
http://[your smile ip]/core/locations
http://[your smile ip]/core/appliances
http://[your smile ip]/core/rules

[2020-01-08 16:46] bouwew commented on #14
Sorry to be asking for so much data, but that will be my only way to find out what is going on.

[2020-01-08 19:12] fwestenberg commented on #14
You can download the files from [WeTransfer](https://we.tl/t-Y0oqahmBTK)

[2020-01-08 19:14] fwestenberg commented on #14
By the way: my thermostat downstairs is OpenTherm connected with the heating system. The upstairs thermostat is connected with On/Off. So this might also result in different value sets?

[2020-01-08 21:30] bouwew commented on #14
Thanks!

Yes, that is what I expect is going on.

[2020-01-08 21:54] fwestenberg commented on #14
I just found a typo in the endpoint of my latest PR. Now ~~it~~ setting the preset from the thermostat downstairs seems to be ~~all~~ working here. But still the thermostat upstairs has no presets.

[2020-01-08 22:00] fwestenberg commented on #14
Is there any chance to get the presets translated? Anna (v1) just has 8 language files available, so it's easy to get the translations from there.

If you check the available translated presets, you'll see "vacation", "asleep" and "no-frost" are missing in the translations:

https://github.com/home-assistant/home-assistant-polymer/tree/master/translations

[2020-01-09 10:04] bouwew commented on #14
You can create your own pull-request towards the translation :)

Or use the Simple Thermostat card, you can configure the names of the presets to anything you like.

[2020-01-09 10:36] bouwew commented on #14
Can you please capture one last XML?

http://[your smile ip]/core/direct_objects

Another user has reported a similar issue and he found there's another XML-path where the actual indicator I'm looking for, is hidden. Hopefully the XML-data from your system can confirm this.

[2020-01-09 11:53] fwestenberg commented on #14
Here it is: https://pastebin.com/6DaEQz9N

[2020-01-09 12:07] bouwew commented on #14
Thanks! Was this capture taken with the heating in on/active state?

[2020-01-09 15:32] fwestenberg commented on #14
The setpoint was 18 degrees while the actual temperature was about 19. So I say inactive. Even when I raise the setpoint:

![IMG_20200109_163017](https://user-images.githubusercontent.com/47930023/72080662-70df0480-32fd-11ea-97c5-65bac33913a1.jpg)
![IMG_20200109_163036](https://user-images.githubusercontent.com/47930023/72080663-70df0480-32fd-11ea-86fa-f74cb6d8d4a7.jpg)

[2020-01-09 15:36] fwestenberg commented on #14
Here's a paste with thermostat active:

https://pastebin.com/dG1pVLWL

[2020-01-09 15:53] bouwew commented on #14
Thanks. But no avail, the `boiler_state` still shows `off`. Strange, scratching my head...

[2020-01-09 16:27] fwestenberg commented on #14
Stop scratching. It's in the direct_objects:

https://pastebin.com/6xzpXj79

[2020-01-09 16:34] bouwew commented on #14
Yes, that is what I was expecting to see. Thanks!
On the other hand, a bit strange too. I was expecting the key `central_heating_state` to be there too.
The Pluswise Smile software works in mysterious ways...
Anyway with this key I should be able to make it work.

[2020-01-11 10:38] riemers commented on #1
@CoMPaTech @bouwew a new year new chances.. i would really like to see Adam support. What would be required to make a start, do you need details? The devices? Do you need a adam to test with etc?

Wait, i can do better. Found a shop that is willing to donate a adam, lisa, floor, tom for support in HA. You can always make a PR later to HA and mention the shop (since it is nice gesture) Only questio

[2020-01-11 12:22] bouwew commented on #14
@fwestenberg
Please try my latest code at https://github.com/bouwew/anna-ha
Be sure to include the manifest.json file as this points to my updated haanna-version 0.14.0.
This version contains most of your fixes as well.

Also, I had to reintroduce some old haanna-code that I had removed before. Without this code it is not possible to reactivate a previously used weekschedule on the latest Anna. Th

[2020-01-11 14:24] bouwew commented on #1
@XMaarten @riemers
I quickly looked at the XML-data provided. I see quite a few similarities with the data in the Anna XML-files. It shouldn't be too difficult to create something.
My main question is, what would you like to see in HA as a start? Meaning what data/values would you like to see? Next, what kind of programming would you want to be able to do?
Can you share picture from the App that y

[2020-01-11 14:34] bouwew commented on #1
@riemers being practical, I have floor-heating downstairs and radiators upstairs.
In my house there is an Intergas CV-ketel that is the heat-source.

I could put up a Lisa and a Tom in my bathroom. And also an Adam is needed, I see in the docs that the Anna can be connected to the Adam as well. So, yes, I would be interested to experiment with these parts and try to integrate them into HA.

[2020-01-11 14:41] riemers commented on #1
In that case, drop me a mail at riemers@binkey.nl so we can talk, or just on discord Riemers
#4426

[2020-01-11 18:31] bouwew commented on #1
@XMaarten can you please capture the XML at /core/direct_objects as well? If that path is on your Adam?

[2020-01-11 18:51] XMaarten commented on #1
@bouwew
What I would like to do is to see and control the temperature of the four different rooms I have.
I attached the direct_objects and a screenshot of the Plugwise app.

[direct_objects.txt](https://github.com/laetificat/haanna/files/4049700/direct_objects.txt)
![plugwise](https://user-images.githubusercontent.com/58396778/72209133-6ebaa880-34ab-11ea-9fa0-ed3c583951c0.jpeg)

[2020-01-12 08:53] bouwew commented on #1
@XMaarten
One more question: which hardware items are in your system and how many?

[2020-01-12 12:24] XMaarten commented on #1
@bouwew The temperature of the living room is measured by the thermostat, and the radiator valve (Floor) controls the floor warming. The valve is not in the living room itself so the temperature measured of the floor warming can not be used, I added a separate thermostat for measuring the temperature in the living room. Besides the living room I have two sleeping rooms and a bathroom controlled by

[2020-01-12 12:51] riemers commented on #1
That’s why we have a Lisa too. That measures the temperature and allows control of a floor.

________________________________
Van: XMaarten <notifications@github.com>
Verzonden: Sunday, January 12, 2020 1:24:16 PM
Aan: laetificat/haanna <haanna@noreply.github.com>
CC: Erik-jan Riemers <riemers@binkey.nl>; Mention <mention@noreply.github.com>
Onderwerp: Re: [laetificat/haanna] anna -> adam support?

[2020-01-12 13:59] bouwew commented on #1
@XMaarten I need you to be more specific to be able to make sense of the data in the XML-files.
1x Adam HA I would assume?
1x thermostat - Plugwise / other brand, what type (OpenTherm or on/off), connected to the Adam?
1x Floor
3x Tom
Anything else?

[2020-01-12 15:30] XMaarten commented on #1
I am sorry.
1x Adam HA, connected to the boiler with on/off, I need to replace my boiler to a OpenTherm one.
1x Floor (radiator valve for the living room)
1x Lisa (thermostat / sensor for the living room)
3x Tom (for sleepingrooms and bathroom)

Lisa is not connected to anything else, it is only used as temperature sensor for the Adam, to measure the temperature in the living room.

[2020-01-13 12:57] bouwew commented on #29
Please see my feedback in #29. Setting a preset that was active before does not seem work from with HA. I also tried to do this from the Plugwise app: same result.
My conclusion: a bug in the Anna app.

[2020-01-13 13:00] bouwew commented on #29
I suggest we close this issue as there is nothing we can do this fix this.

[2020-01-14 10:56] bouwew commented on #1
Great, thanks!

[2020-01-14 13:15] bouwew commented on #1
I had a detailed look at the XML-data, my first impression is that there will be several climate-entities, 4 in XMaartens system, instead of 1 for the Anna in my system, each with the possibility to set presets and activate a weekly schedule. Is it possible to create your own weekschedule per "thermostat"? And is it possible to create more than one schedule per "thermostat"? Or can there be only o

[2020-01-14 13:28] XMaarten commented on #1
Yeah, that is possible, you can give each room its own schedule.

[2020-01-14 13:43] bouwew commented on #1
And what about my question about having more than one schedule per room? Possible? Or not?

[2020-01-14 15:06] XMaarten commented on #1
You can define schedules in the plugwise app and specify what schedule is applicable to which room. So yes, you can define multiple schedules.

[2020-01-16 04:26] fwestenberg commented on #14
Thanks for the update, I'm testing it now. I removed the `@staticmethod` headers because I did not see any advantage in the statics here. It's probably a leftover of the code before, when the whole Anna component was sort of static and incompatible with multiple thermostats. I think it's not wrong to remove the statics, but also not wrong to keep it.
For as far as I can see the component is workin

[2020-01-16 10:22] bouwew commented on #14
Thanks for reporting back!
During the coming days I will push all the recent improvements into the HA next branch.

[2020-01-16 20:30] frankhommers commented on #1
I can help with test data as well. I have 4 rooms defined here 3 lisa's, 4 plugs and 1 adam-ha.
Tell me what you need ;-)

[2020-01-16 22:25] riemers commented on #1
@bouwew will be sponsered with some hardware from https://hashop.nl so he has all the devices to play about. Does not hurt to give the xml's too so he has some more different ones too. He has some personal items on his agenda, when that has settled he can take a swing at the code part.

[2020-01-16 22:35] frankhommers commented on #1
Ah I'll wait from specific requests from @bouwew then.

[2020-01-22 11:50] bouwew commented on #1
@XMaarten I'm working with your files, I think you have defined 2 weekschedules for K***'s bedroom, correct? Both with the same name: K***.
Would you mind if I set a rule to use different names for different schedules? That will make my (programming) life much easier :)

About the progress, this is the present output of my code:
[code]

First I'm trying to find all the devices that are present in

[2020-01-22 17:39] AussiSG commented on #19
Hi Bouwew,
May I interrupt you with a small question. I ve just noticed now that the state HVAC of my legacy anna is not been read out?
Currently it is heating up but shows idle on the hvac state.

Must confess that my rasberry pi crashe so I have to reinstalled everything again.
Could it be that I have some wrong files in my custom_component part?
Or could it be that my legacy anna is unable to b

[2020-01-22 17:56] AussiSG commented on #19
Think I have found something which could mean that the HVAC action is heating on a legacy anna:

<point_log id="b7d7b4f74b554f3a9d0a8c1e9505641a">
<updated_date>2020-01-22T18:40:37.793+01:00</updated_date>
<type>boiler_state</type>
<unit/>
<last_consecutive_log_date>2020-01-22T18:40:37.793+01:00</last_consecutive_log_date>
<boiler_state id="e57afa45c2194a118e2c7d81306286e0"/>
<period start_date="2

[2020-01-22 18:05] bouwew commented on #19
Please update to the latest code first, from here: https://github.com/bouwew/anna-ha
This updated code now looks for `boiler_state` also. When found to be on, the hvac-action will be heating.

And, when you are tapping hot water, the state will be idle, as I was not allowed by the HA-reviewers to show this water-tapping-state from a climate-device.
To be able to show this state, it must come from

[2020-01-22 19:08] XMaarten commented on #1
I guess I forgot to obfuscate some names from the XML, sorry.

I have no objection against using unique names in the different schedules, and I don't care that much about the schedules anyway. Most important for me is the view the current and the set temperature, and adjust the set temperature as needed, I can always use the plugwise app to define the schedules. If you ask me, I would just leave t

[2020-01-22 19:32] riemers commented on #1
I would ignore schedules, those you setup in a adam/anna. Sure it would be nice, but do not forget that both those devices have a learning pattern that they use to get the ideal temperature in a correct manor. It takes about 2 weeks for the system to work optimal. Those kind of logic is not present as of now in HA. Temperature up/down and to set the modes "vacation/away/sleeping" etc would be the

[2020-01-22 19:40] bouwew commented on #1
Ok, great :)

My goal is to create the same functionality as is now present in the Plugwise Anna code, as far as this is possible. And, if possible, support both Anna/Smile and Adam systems.
I just tested my latest code on my Anna, the info that I want to obtain is all there and no errors! Looks like I'm on the right track :)

@riemers, when comparing the Adam-XML-code to the Anna-Smile-XML-code I

[2020-01-22 19:49] riemers commented on #1
You can use HACS for a custom component then do all your work in the "dev" branch, people can select that branch then in hacs i believe to try it out easilly. Once working you can push it to master and eventually send a PR to HA. But i know that will take some time hence HACS in between. (although i don't mind downloading from somewhere too)

[2020-01-22 19:50] bouwew commented on #1
@riemers I have a default weekschedule programmed in my Anna that I run continuously when I am home. Only when I'm away for a longer time, I switch to a preset.
When looking at the Adam-XML-code from XMaarten I can see that the Adam is basically providing the Anna-functionality for every location where there is an Anna, a Lisa or a Tom present. So don't worry about it :)

[2020-01-22 19:53] bouwew commented on #1
I know HACS, I will use it when the component is mostly done. But first I will post the link to my github here, so the early adopters can test first. When the testing within this limited group is successful then I'll put it in HACS, like some of my other plugins that are in HACS now.

[2020-01-25 09:22] bouwew commented on #19
Actually, I will add the detection of the hot water tapping but show it in HA as heating. That will solve the issue and will not violate the HA rules, I hope.

[2020-01-25 10:03] AussiSG commented on #19
Chips missed out your messagea 3days ago. Sorry.

Will check this tomorrow or Monday and will let you know !
Already thanks in advance!!

[2020-01-26 08:07] AussiSG commented on #19
Just checked your updated version. Works like a charm !

You scared me there by changing the entity name haha :D

Thanks !

[2020-02-02 11:20] bouwew commented on #1
@laetificat @CoMPaTech
Please review my work on the new plugwise library: https://github.com/bouwew/plugwise
Am I taking the right approach with this output?

For illustration, this is the output I obtain from my Smile/Anna:
[code]
Please see the README.md on the github for an explanation of the data-items.

Please note: only the functions that obtain data are working, I have not done any work on

[2020-02-02 11:30] bouwew commented on #1
And this is the output from a set of Adam-User files:
[code]
This user has, next to the Adam, a Lisa and four Toms. The Lisa and 1 Tom are in the living room, I think.

I've started to work on the custom_component files: `___init___.py`, `climate,py`, etc. It might be that I'll change the format when that is more convenient for the code inside these python files.

[2020-02-02 21:49] CoMPaTech commented on #1
Added review in the code repo issues. With regard to multiple devices (i.e. two Toms and a Lisa) in the living we might need to figure if we change the proposed dict to just have a room name and all thermostat devices under that (also see review issue).

[2020-02-03 16:52] bouwew commented on #1
@CoMPaTech
My working assumption based on the information that I have (from the XML-data I received, and the descriptions and manuals on the Plugwise website), is that the Lisa is the master of the Tom's in the configured zone. The Tom's are the slave devices and follow the setpoints received from the master. I have assumed for now that I can ignore the data from the slave devices and only provide

[2020-02-08 15:05] bouwew commented on #1
@XMaarten can I contact you in another way then from here? Via Discord or some other platform?

[2020-02-08 20:52] XMaarten commented on #1
Sure. I have Skype, e-mail, telegram and such, but not discord. I tried sending you (or someone with the same name) a message on Skype.

[2020-02-12 21:38] fwestenberg commented on #14
@bouwew shouldn't this have been fixed? Seems like I was still on the plugwise_dev integration, but after changing to the original plugwise integration this shows up:

plugwise: Error on device update!
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 304, in _async_add_entity
    await entity.async_device_update(warning=False)
  File

[2020-02-12 22:01] bouwew commented on #14
@fwestenberg
Can you please change in the plugwise manifest.json file the line:"requirements": [...], the contents between [ and ] to:

"https://github.com/bouwew/haanna-1/archive/master.zip#haanna==0.14.2"

Then save the file and restart HA. Let me know the result.

Update: this fixed a similar issue for two other legacy Anna users.

[2020-02-15 11:39] WilbertVerhoeff commented on #14
@bouwew
I don't know if i'm allowed to command on this. So please kindly let me know.

I'm a legacy Anna user also. The change in the manifest.json works for me. However the illuminance is not in the attributes anymore. I don't know if the boiler state should be in it or the hvac -action should be update when de boiler is heating or not.

please let me know if i can help.

[2020-02-15 15:29] bouwew commented on #14
@WilbertVerhoeff

Sure, feedback is always welcome :)
Illuminance is not there because HA official did not allow it as an attribute. I have to add it as a sensor, which will probably be done sometime in the not too near future.
I added boiler_state because for some installations the hvac-action was always idle, heating was not shown. Adding this made these systems show the heating status correctly

[2020-02-15 15:31] CoMPaTech commented on #14
I'm sort of tinkering with sensors (again), but it takes some time to get it right :(

[2020-02-15 18:21] bouwew commented on #14
@WilbertVerhoeff
If you really want the illumination-value, you would need to install the Plugwise component as a custom_component, and I could tell you which lines to add to the file climate.py to get the illumination-value back.

[2020-02-15 18:29] WilbertVerhoeff commented on #14
@bouwew
I have the custom component running with the haanna 14.2 (library?).  If you want to, that would be really nice!

I want to thank you anyway for all the work you put in this integration. The Plugwise integration is THE reason i started with HomeAssistant.

[2020-02-16 08:23] bouwew commented on #14
@WilbertVerhoeff
Ok, no problem. The basis of the custom_component must be from the laetificat/anna-ha repository.
Then, you need to add the following lines in climate.py:

Under the `def __init__(self, api, name, min_temp, max_temp):` part this line:

`self._illuminance = None`

Under `def device_state_attributes(self):` these 2 lines:
[code]

And finally under `def update(self):` add this line:

[2020-02-23 12:35] bouwew commented on #1
Adam support is here!

With some help from https://hashop.nl I have been able to develop a Home Assistant custom_component for the Plugwise Adam HA.

Please go here for the files and configuration-info: https://github.com/bouwew/adam

Any questions? Please post in this topic.

[2020-02-23 15:13] riemers commented on #1
A lot of testing and patience from bouwe. But it is good to see such progress. I will think a lot of people will benefit of this one in the future.

[2020-02-23 15:16] CoMPaTech commented on #1
@riemers in terms of good news, I've made a working proof of concept on having climate + sensor and once this dust settles we should be able to make some traction on that as well making the other request (+ denies from HA on bouwew's previous PR) play along nicely :)

[2020-02-23 15:17] riemers commented on #1
Nice, indeed allowing sensors to turn off
My climate (door is open) would be the next thing I would look intoz

[2020-02-24 15:03] bouwew commented on #1
@riemers With sensors CoMPaTech means there will be additional sensors-entities in HA that are related to the climate-entities. For instance showing the water-temperature inside the heater or the battery-percentage as reported by a Tom or a Lisa.

[2020-02-24 15:22] riemers commented on #1
Sounds great, before we know it we have the WAF factor at 100% (although we all know that is impossible)

[2020-02-25 09:18] bouwew commented on #1
@frankhommers @RonFlame In case you've missed my original message, Adam support is now available, please see a few posts up.

[2020-03-16 18:34] bouwew commented on #14
@WilbertVerhoeff zou jij ons kunnen helpen?
We hebben xml-data van de legacy anna nodig om te kunnen komen tot een Home Assistant component die werkt voor alle Plugwise apparaten (Anna, Adam, Smile P1, etc.)
We zijn al een behoorlijk eind op weg maar deze data missen we nog.

[2020-03-16 18:41] WilbertVerhoeff commented on #14
Yes, I want to help! How do you want the data? Can I copy paste it some where? Or can I open a port so you can watch when you want?

[2020-03-16 18:48] bouwew commented on #14
Great! Please go here: https://github.com/plugwise/Plugwise-Smile/tree/master/tests
And scroll a bit down for the exact URLs.
You will get the best result by browsing to the page, then right-click on the text and choosing Save as...
Then save them all as xml-file.

Also, please browse to http://{ip_of_your_smile}//system/status/xml and save the data there as well if there is any data.

Please emai

[2020-03-30 07:07] bouwew commented on #14
@fwestenberg We are working on a common platform for all Plugwise devices. There will be support for the Plugwise Anna's, Smile P1's and the Adam, and Plugs via the Adam. We have tested with the Adam, Plugs and the Anna with firmware 3.1.11. Now we are looking for testers that have a legacy Anna. Are you willing to help?

[2020-03-30 07:32] fwestenberg commented on #14
Sure! Just let me know what to do!

[2020-03-30 07:41] bouwew commented on #14
Very good, thanks!.
First, disable the present component, best to do this by removing the plugwise-lines in configuration.yaml and restarting HA.
Next, go here: https://github.com/plugwise/plugwise-beta/ and read the information shown in README.md.
Any questions regarding this, let me know here.

After having installed the new component and having configured it, please check the result: are all th

[2020-03-30 08:02] bouwew commented on #14
Or, the feedback can be given here: https://community.home-assistant.io/t/advice-how-to-load-sensor-info-from-plugwise-anna-thermostat-web-interface-xml/87801

[2020-04-01 17:58] bouwew commented on #19
@AussiSG We are working on a common platform for all Plugwise devices. There will be support for the Plugwise Anna's, Smile P1's and the Adam, and Plugs via the Adam. We have tested with the Adam, Plugs and the Anna with firmware 3.1.11. Now we are looking for testers that have a legacy Anna. Are you willing to help?

[2020-04-02 13:31] AussiSG commented on #19
Sure thing ! Tell me what I can do for you guys to help.

[2020-04-02 13:35] bouwew commented on #19
Ok, great!
First, disable the present component by removing the entry in your configuration.yaml, and restart HA.
Next, go here: https://github.com/plugwise/plugwise-beta and read the README. It tells you what you need to know. Any questions, let me know!

[2020-04-02 16:55] bouwew commented on #19
Just so you know, we've released v.0.0.55 just now, with the latest fix for the legacy Anna.

[2020-04-07 13:16] AussiSG commented on #19
Alright took some time to install it sorry about that.

Here is the stuff what I have availabe on HA:
![image](https://user-images.githubusercontent.com/56043947/78672433-ec425900-78e0-11ea-9b99-78c1de90d2c1.png)

Preset mode show "null" ? Dont know if thats good ? ;-)

Increasing/decreasing temperature works.

Switching modes seems to be working aswell , sleep mode , vacation mode.
altho I get an

[2020-04-07 15:44] bouwew commented on #19
Ok, good! Which version are you using? The latest one on HACS: 0.1.3?
And you have a legacy Anna, correct? And what is the type of your heating system? A CV-ketel?
Also @CoMPaTech FYI

[2020-04-07 15:52] bouwew commented on #19
@AussiSG can you please enable logging for the plugwise-beta component?
Put this in your configuration.yaml:
[code]
And restart HA.
Next go to Developer Tools --> Logs and reload the detailed log below the "short" log.
There should be many debug-lines related to the plugwise-beta component, can you please post the most relevant ones here?

[2020-04-07 16:15] bouwew commented on #19
@AussiSG Never mind, I think we found the error. Expect an updated version on HA later today.

[2020-04-07 18:36] bouwew commented on #19
@AussiSG version 0.1.5 is ready for testing.
This should solve the preset showing null, if not, let me know.
Also, please try to set a different preset (other than the active one, when there's an active preset).

[2020-04-08 07:26] AussiSG commented on #19
Goodmorning ,
Just updated the component with HACS.

Preset value still shows "null" and also the schematic mode is not working.

I cant find any real error / debug stuff regarding those issue but gonna post some stuff that I found in the log:

https://pastebin.com/GFhiJE1Y

Here you see on the first line its setting the mode to auto. But in real the Anna doesnt go to the scheme / auto mode

Switc

[2020-04-08 07:32] CoMPaTech commented on #19
Weird, could you share your `domain_objects` (save-as not interpreted view by the browser)? It should be at http://xx.xx.xx.xx/core/domain_objects - afaik there is nothing special in there that needs privacy-filtering (also see [test anna](https://github.com/plugwise/Plugwise-Smile/blob/master/tests/legacy_anna/core.domain_objects.xml) data that we currently use)

[2020-04-08 07:39] AussiSG commented on #19
Yeah finding it strange aswell. If I press scheme mode , a little while later it reverts back to heating mode
This used to work normal in the anna_custom_dev version

Here is the domain_objects:
https://pastebin.com/WBm3rf8t

[2020-04-08 07:53] bouwew commented on #19
@AussiSG you have other problems, your home-assistant database file is corrupt (sqlite3.DatabaseError). Better to delete the file home-assistant.db and restart HA.

[2020-04-08 08:05] AussiSG commented on #19
Indeed @bouwew.
Fixed that, thanks for pointing it out 👍 .

Sadly enough it didnt solve the problem but still doesnt give an error on setting the mode.

https://pastebin.com/SLhMSa2H

[2020-04-08 08:18] bouwew commented on #19
@AussiSG We need to see the logged data directly from the start of HA, you are showing the data after the setting-error.

[2020-04-08 08:33] AussiSG commented on #19
Sorry. Here is one from a fresh restart;

https://pastebin.com/3vRBeMP9

[2020-04-08 10:13] bouwew commented on #19
@AussiSG Thank you.
I've discovered a fault in our code related to the schedule. I'm rolling out a fix. Will let you know when the new version is available on HACS.

[2020-04-08 10:26] bouwew commented on #19
@AussiSG please try version 0.1.6.

[2020-04-08 10:46] AussiSG commented on #19
Update but sadly enough still switches back to "heating" mode

Logs from a fresh start:
https://pastebin.com/rJZucaUH

Edit:
Preset mode now show good state 👍

[2020-04-08 11:25] bouwew commented on #19
I see I made a typo, will fix that soon.
Nothing in the log related to set_hvac_mode.
Please wait for v0.1.7 and then try to capture the logged data related to you setting the schedule to active.

[2020-04-08 11:37] bouwew commented on #19
@AussiSG please try version 0.1.7.

[2020-04-08 11:48] AussiSG commented on #19
Hmmm still not. tried several times but no succes.
Also no weird stuff visible in the logs....

https://pastebin.com/pnn3bhyg

[2020-04-08 11:55] bouwew commented on #19
Indeed, no info in the log that is usable.
Also no failed error on the screen like you showed before?

[2020-04-08 11:58] AussiSG commented on #19
No when switching to scheme mode I dont get an error.
Thats only when switching to a preset mode. But that switch works.

[2020-04-08 12:04] bouwew commented on #19
Ok, clear. We'll take another good look at the code...

[2020-04-08 13:15] bouwew commented on #19
@AussiSG please try version 0.1.8.
With this update you should be able to activate and deactivate the Thermostat schedule.

[2020-04-08 13:37] AussiSG commented on #19
Sad to dissapoint you but still doenst stick to the schedule mode.

tried 4 times  :/

I got one HTTP error thingy but dont know if thats related to it.

https://pastebin.com/gAAHdbRj

Is there any other way I can help you with it ? share my screen for example or something else ?

Edit:
Hold on got some additional info.
If I change it to schedule mode on the Anna. I also see that that mode is sele

[2020-04-08 14:15] bouwew commented on #19
Ok, again thanks. I think I found why this is still happening. Final fix, hopefully, on the way...

[2020-04-08 14:49] bouwew commented on #19
@AussiSG please try with version 0.1.9.

[2020-04-08 14:54] bouwew commented on #19
Sorry, please try v0.1.10

[2020-04-08 15:20] AussiSG commented on #19
Currently trying version 0.1.10
When pressing the schedule button I get the following error.

![Screenshot_20200408-171803](https://user-images.githubusercontent.com/56043947/78801682-47e21480-79bd-11ea-8b46-5273a8b6ef2d.png)

[2020-04-08 16:24] bouwew commented on #19
Sorry, a typo in the code :(

We are working on an update for the P1 v3, the fix for above error will be included in that update, to be release sometime during the evening.

[2020-04-08 17:36] bouwew commented on #19
@AussiSG please try version 0.1.11.

[2020-04-08 17:49] AussiSG commented on #19
Uuhh there is no new version in HACS?
Or HACS is not updated yet?

[2020-04-08 17:59] AussiSG commented on #19
Nice great job man !
That looks sorted

I haven't yet try to see if the state changes form idle to hearing when the boiler is turned on.

I will check that later on when it s a bit colder again ;-)

[2020-04-08 18:00] CoMPaTech commented on #19
He said wisely on the hottest 8th of April to date :)
Tnx for the feedback

[2020-04-08 18:01] AussiSG commented on #19
Still have this message when setting a preset mode.
Do you have any idea if that's a fault because of using the simple thermostat card or something else ?

Setting the preset mode does work but gives this messages everytime on every preset mode ( not heating or schedule mode (

![Screenshot_20200408-200002](https://user-images.githubusercontent.com/56043947/78817604-b03bf080-79d3-11ea-93c3-ba57cdb

[2020-04-08 18:02] CoMPaTech commented on #19
Thats weird ... ill have a look

[2020-04-08 18:06] CoMPaTech commented on #19
Can you try calling it through developer tools?
i.e. https://yoururl/developer-tools/service like shown?

<img width="439" alt="Schermafbeelding 2020-04-08 om 20 05 41" src="https://user-images.githubusercontent.com/5751088/78818079-60a9f480-79d4-11ea-9105-388830c16adb.png">

[2020-04-08 18:06] CoMPaTech commented on #19
I have a v3 but I'd presume it should work the same (if entered both home and away to check)

[2020-04-08 18:12] bouwew commented on #19
@CoMPaTech see my message on Discord.

[2020-04-08 18:17] AussiSG commented on #19
@CoMPaTech  that gives the same message

[2020-04-08 18:21] CoMPaTech commented on #19
Yup, @bouwew already found what went wrong. Apologies from my side, redoing legacy on the rewrite I forgot key elements, kudos to @bouwew

[2020-04-08 18:43] CoMPaTech commented on #19
We know the origin of the issue, trying to wrap my head around it but it might require review from us both so hopefully you don't mind waiting for a fix tomorrow.

[2020-04-08 18:43] AussiSG commented on #19
Updated still gives the following messages.

Kan service climate/set_preset_mode niet aanroepen 'float' object is not subscriptable

And found another small thing which got lost in transition?
Ive lost the actual pressure of the boiler.

![image](https://user-images.githubusercontent.com/56043947/78821344-9ef5e280-79d9-11ea-9c68-a400f804331f.png)

Edit:
info can be found with the following data fr

[2020-04-08 18:44] AussiSG commented on #19
No problem guys , you are doing great work.
Many thanks for this nice package already!!!

[2020-04-08 19:00] CoMPaTech commented on #19
I'll put 0.1.12 out shortly if that doesn't work tomorrow will be a brand new shiny day

[2020-04-08 19:04] CoMPaTech commented on #19
It should be available as for the list of issues per now

- [x] Setting prefix issue solved
- [ ] Setting prefix tested
- [ ] Boiler pressure issue investigation

[2020-04-09 06:32] AussiSG commented on #19
@CoMPaTech , Very nice the warning/messages doenst appear any more on any of the preset modes presses

[2020-04-09 07:18] bouwew commented on #19
@AussiSG Finally fixed!
Thank you for your detailed testing and feedback, it helps us to find and fix all the bugs that are (were) still there after the complete make-over.

Do you also see the water_heater entity in our HA?

[2020-04-09 08:45] bouwew commented on #19
@AussiSG About the pressure sensor, please update to version 0.1.13.
After the update it should be there, but look for it, the sensor-name has probably changed.

[2020-04-09 08:45] AussiSG commented on #19
![image](https://user-images.githubusercontent.com/56043947/78876120-2598d700-7a4f-11ea-9234-8e8ba39bfb20.png)

Yes ! And there is also the boiler pressure sensor.
I think I have put you guys on the wrong feet with and old sensor I created myself?....

[2020-04-09 08:49] bouwew commented on #19
In version 0.1.12 and before the water_pressure was only available as an attribute of the water_heater.
In version 0.1.13 there is also a sensor.xyz_central_heater_water_pressure.

[2020-04-09 08:56] AussiSG commented on #19
Yes that's awasome !
![image](https://user-images.githubusercontent.com/56043947/78877198-c2a83f80-7a50-11ea-97c6-eb6d3e49bfc8.png)

Sorry for the confusing part :D

Edit small remark:
Dont know if you can change the "units" in the base entity.
I think its Bar and not milibars ( mbar )

[2020-04-09 09:17] bouwew commented on #19
Yes, you are right. In my Adam-system and I think in the recent Anna the number is an integer (0-10), that's why I changed it. I will investigate...

[2020-04-09 09:25] AussiSG commented on #19
Its not a real problem , you can ofcourse change the units by hand.
So I wouldnt bother changing it for legacy Anna's
As it seems there are more V3 users haha

[2020-04-09 11:20] bouwew commented on #19
Will be fixed in 0.1.14, sometime later today...

[2020-04-17 23:06] frankhommers commented on #1
Great! @bouwew !!
Did this already end up in HA itself?

[2020-04-18 09:59] bouwew commented on #1
Not yet, but we have created a PR, for climate only. Once this one is in we will add the rest: binary_sensors, sensors, switches, and water_heater.

[2020-04-22 13:07] bouwew commented on #1
@frankhommers @RonFlame and others,
Update: please find our latest version here: https://github.com/plugwise/plugwise-beta
Make sure to completely remove the previously used custom_component-files and the entry in configuration.yaml, then reboot HA.
Next, make sure to read the README.md at the new github! Then install the new custom_component, enjoy!

[2020-04-27 11:30] CoMPaTech commented on #1
@frankhommers @RonFlame @riemers @XMaarten we've just released 0.2.0 of our custom_component (with an upstream HA-PR in progress). As per the release of HA-core 0.109 this wednesday (or if you already run HA-core beta 109) you can start using `plugwise-beta`.

Closing this issue. If you have any further comments or issues feel free to update
 - The (community post)[https://community.home-assistant

[2020-04-27 11:30] #1 closed

[2020-04-27 11:31] CoMPaTech commented on #14
@fwestenberg @WilbertVerhoeff  we've just released 0.2.0 of our custom_component (with an upstream HA-PR in progress). As per the release of HA-core 0.109 this wednesday (or if you already run HA-core beta 109) you can start using plugwise-beta.

Closing this issue. If you have any further comments or issues feel free to update

The (community post)[https://community.home-assistant.io/t/plugwise-s

[2020-04-27 11:31] #14 closed

[2020-04-27 11:32] CoMPaTech commented on #29
@Mariusthvdb we've just released 0.2.0 of our custom_component (with an upstream HA-PR in progress). As per the release of HA-core 0.109 this wednesday (or if you already run HA-core beta 109) you can start using plugwise-beta.

Closing this issue. If you have any further comments or issues feel free to update

The (community post)[https://community.home-assistant.io/t/plugwise-smile-custom-compon

[2020-04-27 11:32] #29 closed

[2020-04-28 16:58] AussiSG commented on #19
Hi Gents I am currently running 0.2.0 on HA on version 219.
Got everything running. But I dont get the climate entity?

I do get 2 entities called "Anna" and "Smile_Anna" but they only contain information. ( i.e. sensors )

![image](https://user-images.githubusercontent.com/56043947/80515154-c8bf7b00-8981-11ea-97b0-46779f10c971.png)

[2020-04-28 17:23] bouwew commented on #19
Sorry, which HA version are you on?

[2020-04-28 17:26] CoMPaTech commented on #19
Presumablye 109b4 (which is 219 here as well)... do you spot anything obvious in `/developer-tools/logs`? I guess the climate part just isn't loading, we're very keen to understand why

[2020-04-28 17:28] bouwew commented on #19
219 is the supervisor version, can still be 0.108.x.

[2020-04-28 17:28] CoMPaTech commented on #19
Lets follow up in the above mentioned issue